<div class="login-signup-container" style="display: flex; justify-content: center;">
<mat-card style="display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 25%;">
  <mat-card-header style="justify-content: center">
    <mat-card-title *ngIf="login">Login</mat-card-title>
    <mat-card-title *ngIf="!login">Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password: </mat-label>
        <input  matInput [formControl]="password" type="password" required>
      </mat-form-field>
    <mat-form-field *ngIf="!login">
      <mat-label>Username: </mat-label>
      <input  matInput [formControl]="username" required>
    </mat-form-field>
  </mat-card-content>
  <div *ngIf="login" style="font-size: 11px">Don't have an account? click here to <span style="color: blue" [routerLink]="['/signup']">Register</span></div>
  <div *ngIf="!login" style="font-size: 11px">Already have an account? click here to <span style="color: blue" [routerLink]="['/login']">Log In</span></div>
  <mat-card-actions style="display: flex; flex-direction: row; justify-content: space-around;">
    <button *ngIf="!login" style="display: flex; " mat-raised-button (click)="signUp()"  color="primary">Sign Up</button>
    <button *ngIf="login" style="display: flex; " mat-raised-button (click)="signIn()"  color="primary">Login</button>
  </mat-card-actions>
</mat-card>
</div>

